@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --lora: 'Lora', serif;
  --vibes: 'Great Vibes', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.hero_container {
  position: relative;
}

.container {
  max-width: 365px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-image: url('../img/header/header_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
}

.hero_container {
  position: relative;
}

.haro_name_courcle {
  max-width: 344px;
  height: 344px;
  background-color: rgba(20, 40, 78, 0.909);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.hero_name_title {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 111px;
  color: rgba(255, 255, 255, 1);
}

.hero_bg_icon {
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 163px;
  font-size: 140px;
  font-family: var(--vibes);
  color: rgba(167, 145, 104, 1);
}

.date {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: -30px;
  right: 25px;
}

.date_number {
  text-align: center;
  font-family: var(--vibes);
  position: absolute;
  left: 21px;
  bottom: 14px;
  font-size: 22px;
  color: rgba(20, 40, 78, 1);
}

.date_hero {
  font-size: 64px;
  color: rgba(167, 145, 104, 1);
  height: none;
  font-family: var(--vibes);
  text-align: center;
  position: relative;
  z-index: 10;
}

.left_flover {
  position: absolute;
  /* top: 190px; */
  bottom: 15%;
  left: -9px;
  z-index: 2;
}

.hero_container {
  position: relative;
}

.date {
  position: absolute;
  z-index: 10;
}

.haro_name_courcle {
  position: relative;
  z-index: 1;
}

.invite {
  position: relative;
  z-index: 20;
  padding-top: 20px;
}

.hero_img_center {
  width: 100%;
}

.invite_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--lora);
  color: rgba(20, 40, 78, 1);
}

.invite_about {
  margin-top: 20px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  /* letter-spacing: 1px; */
  color: rgba(45, 55, 76, 1);
  line-height: 18px;
}

.invite_about_bottom {
  margin-top: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: rgba(45, 55, 76, 1);
  /* letter-spacing: 1px; */
  line-height: 18px;
  margin-bottom: 40px;
}

.swiper-galery {
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev-galery,
.swiper-button-next-galery {
  background: rgba(255, 255, 255, 0.7);
  width: 37px;
  height: 37px;
  border-radius: 999px !important;
  opacity: 1;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev-galery {
  left: 10px;
}

.swiper-button-next-galery {
  right: 10px;
}

.calendar {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  background-image: url('../img/sections/kalendar_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar_title {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(20, 40, 78, 1);

}

.calendar_d_list {
  max-width: 324px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  margin-bottom: 13px;
}

.calendar_d_item {
  font-family: var(--lora);
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(167, 145, 104, 1);
}

.calendar_num_list {
  max-width: 324px;
  padding-left: 12px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 22px;

}

.calendar_select {
  position: relative;
  z-index: 2;
}

.calendar_select img {
  position: absolute;
  top: -15px;
  left: -19px;
  z-index: -1;
}

.flower_select {
  position: absolute;

}

.calendar_num_list li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  font-family: var(--lora);
  color: rgba(20, 40, 78, 1);
}

.mesto {
  padding-top: 40px;

}

.mesto_conotainer {
  position: relative;
}

.mesto_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(20, 40, 78, 1);
  font-family: var(--lora);
  margin-bottom: 20px;
}

.mesto_subtitle {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(167, 145, 104, 1);
}

.mesto_text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(45, 55, 76, 1);
  width: 270px;
  margin-bottom: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mesto_img_wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  gap: 5px;
}

.mesto_img_wrapper img {
  width: 172.5px;
}

.mesto_container {
  position: relative;
}

.courcle_mesto {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background-color: rgba(20, 40, 78, 1);
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  position: absolute;
  top: 455px;
  right: 5px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}


.taym {
  margin-top: 83px;
}

.taym_container {
  max-width: 360px;
  position: relative !important;
  overflow: hidden;
}

.taym_title {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(20, 40, 78, 1);
  margin-bottom: 10px;
}

.taym_card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
  margin-left: 3px;
}

.taym_card_title {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(167, 145, 104, 1);
}

.flower1 {
  position: absolute;
  /* bottom: 245px; */
  top: 50%;
  right: -50px;
  z-index: -1;
}

.time_card_subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: var(--lora);
  color: rgba(20, 40, 78, 1);
  margin-top: 14px;
}

.taym_card_text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0%;
  color: rgba(60, 66, 78, 1);
  margin-top: 10px;
}

.taym_line {
  width: 1px;
  background-color: rgba(217, 217, 217, 1);
  height: 67px;
}

.line_img_wrapper {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detals {
  width: 100%;
  background-image: url('../img/sections/detals_bg.png');
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.detals_tite {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(20, 40, 78, 1);
  margin-bottom: 10px;
}

.detals_text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(45, 55, 76, 1);

}

.detals_subtitle {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(167, 145, 104, 1);
  margin-top: 30px;
}

.detals_colors_wrapper {
  width: 195px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.detals_colors {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 20px;

}

.color1 {
  background-color: rgba(190, 178, 170, 1);
}

.color2 {
  background-color: rgba(228, 224, 221, 1);
}

.color3 {
  background-color: rgba(228, 210, 178, 1);
}

.color4 {
  background-color: rgba(167, 181, 213, 1);
}

.color5 {
  background-color: rgba(32, 51, 99, 1);
}

.detals_img_wrapper {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 14px;
  overflow: hidden;
}

.detals_img_wrapper img {
  max-width: 172px;
}

.detals_text_bottom {
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: flex-start;
  gap: 19px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  color: rgba(60, 66, 78, 1);
}

.detals_text_bottom i {
  color: rgba(216, 186, 132, 1);
  font-size: 25px !important;
}

.anketa {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background:
    linear-gradient(rgba(20, 40, 78, 0.95), rgba(20, 40, 78, 0.95)),
    url("../img/sections/anketa_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.anketa_tittle {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;

}

.anketa_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: 'Manrope', sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.anketa_name {
  margin-top: 30px;
  font-family: var(--lora);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

form {
  padding-left: 10px;
}

.anketa_inp {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 15px;
  width: 98%;
}

.anketa_inp::placeholder {
  color: rgba(216, 186, 132, 1);
}

.anketa_sputnik {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

}

.anketa_sputnik span {
  background-color: rgba(216, 186, 132, 1);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anketa_sputnik_bottom {
  margin-top: 30px;
  font-family: var(--lora);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

.inp_wrap {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}

.inp_wrap input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  /* default white */
  border-radius: 50%;
  background-color: rgba(20, 40, 78, 0.2);
  cursor: pointer;
  position: relative;
}

/* inner circle */
.inp_wrap input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(216, 186, 132, 1);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease;
}

.inp_wrap input[type="radio"]:checked {
  border-color: rgba(216, 186, 132, 1);
  position: relative;
}

.inp_wrap input[type="radio"]:checked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.chekbox_top {
  margin-top: 30px;
  font-family: var(--lora);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 12px;
}

.inp_check {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inp_check span {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  /* Safari, Chrome, Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
}

.inp_check input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: rgba(20, 40, 78, 0.2);
  position: relative;
  cursor: pointer;
  /* transition: all 0.2s ease; */
}

.inp_check input[type="checkbox"]:checked {
  border-color: rgba(216, 186, 132, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66698 11L0 6.18738L1.33315 4.81262L4.6684 8.24806L4.66698 8.24951L12.6668 0L14 1.37476L6.00013 9.62524L4.66792 10.999L4.66698 11Z' fill='%23D8BA84'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}


.inp_check {
  margin-bottom: 8px;
}

.anketa_btn {
  width: 100%;
  margin-top: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: var(--lora);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: rgba(216, 186, 132, 1);
  color: white;
  cursor: pointer;
  border: 2px solid rgba(216, 186, 132, 1);
  transition: 0.2s ease;
}

.anketa_btn:hover {
  color: rgba(216, 186, 132, 1);
  background-color: inherit;
}

.anketa_btn:active {
  color: rgba(216, 186, 132, 1);
  background-color: inherit;
}

.contact {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact_container {
  position: relative !important;
  overflow: hidden;
}

.flower {
  position: absolute;
  top: 97px;
  right: -2px;
  width: 130px;
}

.contact_title {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(20, 40, 78, 1);
  margin-bottom: 20px;
}

.contact_btm {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(20, 40, 78, 1);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.contact_tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: rgba(20, 40, 78, 1);
  text-decoration: none;
  display: block;

}

.contact_tg {
  margin-top: 30px;
  font-family: var(--lora);
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 226px;
  height: 51px;
  border: 1px solid rgba(20, 40, 78, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(20, 40, 78, 1);
}

.footer_title {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(167, 145, 104, 1);
  margin-top: 30px;
}

/* next_page start */
.next_page {
  padding-top: 109px;
  padding-bottom: 275px;
}

.next_page_container {
  position: relative;
}

.next_title {
  font-family: var(--lora);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(20, 40, 78, 1);
}


.next_subtitle {
  font-family: var(--vibes);
  font-weight: 400;
  font-size: 96px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(167, 145, 104, 1);
  margin-top: 36px;
  margin-bottom: 18px;
}

.invite_img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  z-index: -1;
}

.names_invite_wrap {
  position: absolute !important;
  z-index: 1000;
  top: 328px;
  left: 165px;
}

.last_name {
  font-family: var(--vibes);
  color: white;
  font-size: 28px;

}

.first_name {
  font-family: var(--vibes);
   color: white;
  font-size: 24px;
  position: absolute !important;
  top: -17px;
  left: -5px;
}

.next_btn {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(216, 186, 132, 1);
  font-family: var(--lora);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.next_flower {
  position: absolute !important;
  right: 0;
  top: 65%;
}

/* next_page end */
@media screen and (max-width:349px) {
  .calendar_num_list {
    padding-left: 9px;
    padding-right: 9px;
    gap: 19px;

  }
}